*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none ;
    }
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        padding: auto;
        background-color: aqua;
        width: 30vw;
        border: 3px solid blue;
        border-radius: 15px;
    }
    caption{
        font-weight: bold;
    }
    table{
        margin: 20px;
    }
    #space{
        width: 20px;
    }
    button{
        padding: 10px;
        background-color: aliceblue;
        color: black;
        font-weight: bold;
        border: 2px solid blue;
        border-radius: 5px;
        margin: 20px 0px 20px 30px;
        cursor: pointer;
    }
    a{
        font-weight: bold;
        margin: 20px 0px 20px 100px;
        padding: 10px;
        background-color: blue;
        color: aliceblue;
        border: 2px solid aliceblue;
        border-radius: 5px;
    }












